@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  --el-font-size-base: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f4fef9;
    --bg-color-disabled: #f5faf8;
  }
  body {
    background-color: var(--bg-color);
  }
  /* body {
    --el-bg-color-overlay: var(--bg-color);
    --el-fill-color-light: var(--bg-color-disabled);
  }
  .el-card {
    --el-card-bg-color: var(--bg-color) !important;
  }
  .el-tabs__content, .el-tabs__item.is-active {
    background-color: var(--bg-color);
  } */
}